schema/hero_levels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="HeroLevelUp">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LevelUp" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LevelUp">
        <xs:complexType>
            <xs:attribute name="Level" type="xs:int"/>
            <xs:attribute name="LevelUpCost" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>