schema/lucky_round.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LuckyRoundList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LuckyRoundBase" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LuckyRoundBase">
		<xs:complexType>
			<xs:attribute name="Index" type="xs:int" />
			<xs:attribute name="RatePercent" type="xs:int" />
			<xs:attribute name="Item" type="xs:string" />
			<xs:attribute name="ItemDropRate" type="xs:string" />
			<xs:attribute name="Image" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>