schema/set_bonus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SetList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Set" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Set">
        <xs:complexType>
            <xs:attribute name="Set" type="xs:int"/>
            <xs:attribute name="Quantity" type="xs:int"/>
            <xs:attribute name="Format" type="xs:string"/>
            <xs:attribute name="Description" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>