schema/stage_particles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ParticleList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="StageParticle" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="StageParticle">
        <xs:complexType>
             <xs:attribute name="BattleBG" type="xs:string"/>
             <xs:attribute name="BgJson" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>