schema/talking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Talks">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Talk" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Talk">
        <xs:complexType>
            <xs:attribute name="ID" type="xs:string"/>
            <xs:attribute name="Actor" type="xs:string"/>
            <xs:attribute name="Msg" type="xs:string"/>
            <xs:attribute name="Code" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>