schema/tier_upgrade.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TierList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Tier" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tier">
        <xs:complexType>
             <xs:attribute name="TierId" type="xs:int"/>
             <xs:attribute name="Cost" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>